* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;

}

.topnav {
    /* overflow: hidden; */
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    position: fixed;
    top: 0;
}

.menu {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    font-weight: 600;
}

.home {
    color: #ff0000 !important;
}

.Portfolio {
    width: 20%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Portfolio a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.portfo {
    color: #000;
}

.lio {
    color: #ff0000;
}

.contener {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(10, 9, 9);
    color: #fff;
}



.contener .heading {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.photo {
    height: 30%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.photo img {
    height: 100%;
    width: 100%;
}

.button button {
    height: 100%;
    width: 150px;
    background-color: rgb(173, 23, 23);
    color: rgb(243, 236, 236);
    margin: 10px;
    padding-bottom: 5%;
}

/* About Section */
#about {}

.box {
    height: 100vh;
    width: 100%;
    background-color: #2190ac;

}

.title {
    background-color: #ff0000;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.h1 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #ca4040;
}

.about-img {
    height: 400px;
    width: 400px;
    /* background-color: rgb(158, 21, 151); */

}

.about-img img {
    margin-top: 20px;
    border-radius: 20px;
}

.about-text {
    height: 300px;
    width: 500px;
    background-color: darkgoldenrod;
    color: #fff;

    /* margin-left: 300px;
    margin-bottom: 50px; */
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* About Section End */

/* skill section */

#skill {
    height: 100vh;
    width: 100%;
    background-color: #212aac;

}

.title1 {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkmagenta;
}











/* End section */
























/* 
.about {
    height: 103vh;
    width: 100%;
    background-color: rgb(238, 226, 226);

}

.about h1 {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
    color: rgb(13, 54, 236);
    /* background-color: #a12929;
}

.about p {
    display: flex;
    align-items: top;
    justify-content: center;
    margin-top: -2%;
    background-color: #ff0000;
  
    color: rgb(0, 0, 0);
} */

.Services {
    height: 100vh;
    width: 100%;
    background-color: rgb(14, 13, 13);

}

.team {
    height: 105vh;
    width: 100%;
    background-color: rgb(238, 226, 226);

}

.team h1 {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;

}

.contract {
    height: 130vh;
    width: 100%;
    background-color: rgb(36, 35, 35);


}

.project {
    height: 100vh;
    width: 100%;
    background-color: rgb(238, 226, 226);

}

footer {
    /* border: 2px solid black; */
    display: flex;
    height: 8vh;
    background: rgb(0, 0, 0);
    border: 2px solid crimson;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.copyright {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}

h2 {
    color: white;
    object-fit: cover;
}

.follow {
    /* border: 1px solid rgb(226, 108, 108); */
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.follow h2 {
    /* border: 1px solid rgb(255, 255, 255); */
    text-align: center;
    justify-content: center;
    float: inline-start;
    width: 200px;

}

.icons {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    padding-left: 2%;
    width: 100%;
    height: 80%;

}

.circle_link {
    border: 3px solid rgb(255, 255, 255);
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.facebook {
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
}

.facebook:hover {
    border: 2px solid rgb(34, 21, 206);
    background-color: rgb(71, 252, 0);
}

.facebook img {
    width: 100%;
    height: 100%;
}